@import url('https://fonts.googleapis.com/css?family=Bungee|Roboto:400,900|Noticia+Text');

/*
font-family: 'Bungee', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Noticia Text', serif;
*/

:root {
  --first-color: #ffffff;
  --second-color: #bec625;
  --base-color: #552496;
  --bg-color: #a3e9de;
  --third-color: #bec625;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: var(--bg-color);
  color: var(--base-color);
  font-family: monospace;
  font-size: 1.2rem;
}

.container {

  grid-template-columns: 18rem auto;
  grid-template-rows: 14rem repeat(5, auto);
  justify-items: stretch;
  align-items: stretch;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    /* grid-template-columns: 100vw; */
  }
  .side {
    position: sticky;
    top: 0px;
    height: 100vh;
  }
}



.title {
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 10;
  font-size: 7rem;
  color: var(--second-color);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  /* line-height: 3rem; */
  text-shadow: -10px 10px 0px rgba(85,36,150,1);
  display: flex;
  align-items: baseline;
}

.hi {
  font-size: 14rem;
  font-weight: 900;
  color: var(--first-color);
  margin-left: 0.8rem;
  text-shadow: -13px 13px 0px rgba(199,199,37,1);

}

.position {
  font-size: 2rem;
  white-space: pre;
  text-shadow: -3px 3px 0px rgba(85,36,150,1);
  animation: changepos 2s ease-in-out infinite;
}

#softeng {
}

#webdev {
  animation-delay: 1s;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, -2.7rem);
}

.pos-cont {
  height: 2.3rem;
  position: relative;
  overflow: hidden;
  padding-left: 0.2rem;
}

@keyframes changepos {
  from {transform: translate(0, -2.7rem);}
  50% {transform: translate(0, -0.2rem);}
  to {transform: translate(0, 2.7rem);}
}

@media (max-width: 800px) {
  .title {
    font-size: 2rem;
    margin: 0;
    line-height: 1rem;
    text-align: center;
  }
  .hi {
    visibility: collapse;
  }
  .position {
    visibility: collapse;
  }
  .section-content > div {
    width: 90%;
  }
  .date {
    padding: 0;
  }
}



.side {
  grid-column: 1;
  grid-row: 1 /span 6;
  background: var(--base-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* border-right: 5px solid var(--first-color); */
}

.section {
  padding: 1rem;
  min-height: 10rem;

}

.section > h2 {
  font-family: monospace;
  font-weight: bold;
  font-size: 3rem;
  text-align: right;
  color: var(--third-color);
  margin: 0.8rem;
}

.section-content {
  width: 100%;
  background: var(--bg-color);
  height: 100%;
  margin-top: -1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.section-content::before {
  content: "{";
  font-size: 10rem;
  font-family: 'Noticia Text', serif;
  color: var(--third-color);
}

.section-content::after {
  content: "}";
  font-size: 10rem;
  font-family: 'Noticia Text', serif;
  color: var(--third-color);
}

.section-content > div {
  width: 70%;

}

#about > .section-content > p {
  width: 60%;
}

#skills > .section-content > div > i {
  margin: 1rem;
}

.line-break {
  width: 100%;
}

#skills > .section-content > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 1rem;
  font-size: 2rem;

}

#portfolio {

}

#work {

}

#edu {

}

.sc-w-list > tr {
  padding: 1rem;

}

.date {
  width: 110px;
  padding-right: 2rem;
  text-align: right;
}

.rh {
  font-weight: bold;
}

.rh, .rd {
  margin: 0.2rem;
}

.menu {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin-bottom: calc(50vh - 10rem);
}

.menu > li {
  background: var(--first-color);
  text-align: right;
  width: 90%;
  margin: 1rem;
  padding: 0.8rem;
  box-shadow: -15px 10px 0px rgba(199,199,37,1);
  transition: margin-left 1s, width 1s, box-shadow 0.5s;
}

.menu > li > a {
  color: var(--second-color);
  text-decoration: none;
  font-family: monospace;
}

.menu > li > a:hover {
  color: var(--third-color);
  text-decoration: none;
}

.menu > li:hover {
  margin-left: 0px;
  box-shadow: 0px 10px 0px rgba(199,199,37,1);
  width: 100%;
}

.cv {
  margin-bottom: 2rem;
}

.cv:hover {
  border-bottom: 2px solid var(--second-color);
  margin-bottom: calc(2rem - 2px);
}

.cv > a {
  text-decoration: none;
  color: var(--first-color);
}

.links {
  width: 70%;
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 2rem;
}

.fab {
  color: var(--first-color);
  font-size: 2rem;
  box-shadow: 0px 2px 0px rgba(199,199,37,1);
  transition: box-shadow 0.5s;
}

.fab:hover {
  box-shadow: -6px 6px 0px rgba(199,199,37,1);
}
